.lists {
  min-width: 10rem;
  height: 5%;
  background-color: black;
  color: whitesmoke;
  font-size: 25px;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  list-style: none;
  position: relative;
}

.done {
  background-color: bisque;
  text-decoration: line-through;
  color: black;
}

.box {
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: lightgray;
  color: black;
  margin: 1rem;
  padding: 1rem;
  outline: none;
  font-size: 20px;
}

.btn {
  display: flex;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 7rem;
  height: 3rem;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

body {
  background-color: goldenrod;
}

.div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.close {
  color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.2rem;
  cursor: pointer;
}